body {
    text-align: center;
    background-color: #e8e8e8;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin: 0.2em;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    color: #782323;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: unset;
    height: 40px;
    border-top: 1px solid black;
    padding-top: 20px;
}

h2:first-of-type {
    margin-top: 0.5em;
    background-color: unset;
    height: auto;
    border-top: none;
    padding-top: 10px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.3);
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: black;
    background-color: #d7d7d7;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
}

form {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    width: 500px;
    height: 40px;
    color: #575757;
    display: inline-block;
    border-radius: 5px;
}

#notify {
    color: black;
    background-color: white;
    border: 1px solid #046b04;
    border-left: 7px solid green;
    border-radius: 1px 3px 3px 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 270px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-right: 270px;
}

input[type=submit] {
    border: 2px solid #2d5997;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 3px;
    width: 70px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: #424242;
}

/*The "input[type=submit]:active" seems to respond better than the
"input[type=submit]:hover" on an Android phone's screen. */
input[type=submit]:active {
    border: 2px solid white;
    background-color: #131357;
    text-align: center;
    border-radius: 20px;
    padding-top: 3px;
    width: 70px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: white;
}

input[type=submit]:hover {
    border: 2px solid white;
    background-color: #6fb7ff;
    text-align: center;
    border-radius: 20px;
    padding-top: 3px;
    width: 70px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#can {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
    padding-left: 5px;
    border-radius: 10px;
}

#comment {
    background-color: white;
    display: flex;
    height: 100px;
    width: 410px;
    padding-top: 0;
    border-left: 10px solid #6161cc;
    border-right:1px solid #6161cc;
    border-top: 1px solid #6161cc;
    border-bottom: 1px solid #6161cc;
    border-radius: 0px 20px 20px 0px;
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12.5px;
    font-weight: 700;
    color:  #383838;
}

li {
    margin-right: 5px;
    margin-bottom: 7px;
}

ul {
    list-style-position: none;
}

.me {
    list-style-type: none;
    height: 78px;
    list-style-position: none;
    padding-left: 12px;
    padding-top: 8px;
    margin-top: 0;
}

.tutor {
    display: flex;
    list-style-type: none;
}

.teach {
    margin-right: 5px;
    font-style: italic;
}

.et {
    margin-left: 1px;
}

.tutorz {
    margin-top: 10px;
}

strong {
    color: #7a7a7a;
}

.blue {
	color: #3f43dc;
  font-weight: bold;
}

.red {
  color: #ee210b;
}
